form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}

.new-tweets-section p {
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

.new-tweet {
  padding: 1em;
  gap: 1em;
}

textarea {
  border: none;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  height: 30px;
  background-color: #f4f1ec;
  border-bottom: solid 5px #545149;
}

.tweet-text {
  margin-top: 1em;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4056a1;
  color: white;
}
